.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeedd;
  padding: 40px;
  max-width: 1920px;
}

.title {
  margin: 0;
}

.talent-registration-form {
  width: 100%;
  max-width: 900px;
}

.steps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 0;
  p {
    border: 2px solid #f79f35;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
  }
  span {
    width: 25px;
    height: 2px;
    background-color: #f79f35;
  }
}

.steps-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .steps {
    display: none;
  }

  .steps-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
      font-weight: 700;
    }
  }
}
