.container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 20px;
  width: 100%;
}

.office-address {
  p {
    margin: 0;
    font-weight: 700;
    text-align: right;
  }
}

.copyrights {
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin: 0;
}

.footer-logo {
  position: relative;
  width: 200px;
  height: 141px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 20px 5px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .office-address {
    margin: 20px 0;
    p {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
    }
  }
  .copyrights {
    font-size: 0.75rem;
  }
  .footer-logo {
    width: 150px;
    height: 100px;
  }
}
