.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0;
  }
}

.reference {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 15px 0;
  h3 {
    margin: 0 0 10px;
    border-bottom: 2px solid #000;
  }
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  label {
    font-weight: 700;
  }
  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
  }
}

.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 30px;
}

.next-button {
  width: 125px;
  outline: none;
  border: none;
  background-color: #f79f35;
  color: #fff;
  border: 2px solid #f79f35;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5em 0;
  cursor: pointer;
}

.previous-button {
  width: 125px;
  outline: none;
  border: none;
  background-color: #fff;
  color: #f79f35;
  border: 2px solid #f79f35;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5em 0;
  cursor: pointer;
}
