.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 10px;
}

.remuneration {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
  p {
    margin: 0;
  }
  .remuneration-title {
    border-bottom: 2px solid #000;
    margin: 0 0 10px;
  }
  & > .input-item {
    display: flex;
    align-items: center;
    width: 100%;
    label {
      min-width: 175px;
    }
    input {
      width: 100%;
    }
  }
}

.input-item {
  margin-bottom: 10px;
  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
  }
}

.tax-options {
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    font-weight: 700;
  }
  input {
    width: fit-content;
    margin: 0 5px 0 0;
  }
  .input-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.tax {
  display: flex;
  p {
    min-width: 175px;
  }
}

.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 30px;
}

.next-button {
  width: 125px;
  outline: none;
  border: none;
  background-color: #f79f35;
  color: #fff;
  border: 2px solid #f79f35;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5em 0;
  cursor: pointer;
}

.previous-button {
  width: 125px;
  outline: none;
  border: none;
  background-color: #fff;
  color: #f79f35;
  border: 2px solid #f79f35;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5em 0;
  cursor: pointer;
}
