.close-button {
  outline: none;
  border: 2px solid #f79f35;
  background-color: transparent;
  color: #f79f35;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
}
