.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeedd;
  padding: 50px 0;
  max-width: 1920px;
}

.option-buttons {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  button {
    outline: none;
    border: none;
    width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #f79f35;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid #f79f35;
    font-size: 1rem;

    &:nth-child(2) {
      background-color: #fff;
      color: #f79f35;
    }
  }
}

.title {
  text-align: center;
}
.contact-us-form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.request-type {
  width: 100%;
  border: 2px solid #f79f35;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.input-item {
  width: 100%;
  margin-bottom: 20px;
  input,
  textarea {
    width: 100%;
    border: 2px solid #f79f35;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    &::placeholder {
      font-style: italic;
      color: #c4c4c4;
    }
  }
}

.submit-button {
  outline: none;
  border: none;
  width: 100px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #f79f35;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #f79f35;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  p {
    margin: 0 0 0 10px;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .title {
    font-size: 1.25rem;
  }
  .option-buttons {
    flex-direction: column;
    max-width: unset;
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .contact-us-form {
    margin-bottom: 20px;
  }

  .talk-directly-title {
    font-size: 1.25rem;
  }

  .contact-item {
    p {
      font-size: 1rem;
    }
  }
}
