.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeedd;
  padding: 50px 40px;
  max-width: 1920px;
}
.title {
  border-bottom: 2px solid #000;
  margin: 0 0 30px;
}
.experiences {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > *:first-child {
    margin-right: 30px !important;
    max-height: 300px !important;
    // min-width: 455px;
  }
}

.experiences-text {
  width: 65%;
  margin: 0;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .experiences {
    flex-direction: column;
    align-items: center;
    & > *:first-child {
      margin-right: 0 !important;
      max-width: 455px !important;
      min-width: unset;
    }
  }
  .experiences-text {
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
  }
}
